# Open Source Software Attribution


The Amazon eks-auto-mode-ebs-migration-tool Product includes the following third-party software/licensing:


{{ range . }}
## {{ .Name }}

* Name: {{ .Name }}
* Version: {{ .Version }}
* License: [{{ .LicenseName }}]({{ .LicenseURL }})

```
{{ .LicenseText }}
```
{{ end }}

